extends layout

block content
  .posts
    each post in posts
      a(href=post.url, title=post.title).post
        .post-title
          h2.post-headline= post.title
          p.post-date= moment(post.date).utc().fromNow()
        h3.post-subtitle= post.metadata.subtitle